body {
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

h1 {
  text-align: center;
  color: dodgerblue;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

/*Apple Pie*/

.apple-header {
  color: crimson;
}

ol {
  line-height: 1.5;
}

/*Candy Apple*/
.apple-body {
  background-color: #e00000;
  color: white;
}
